@(message: String)

@main("咚哒") {

} {
	<div class="head-page">
		<div class="head-page-bkg">
			<div style="margin-top:0">&nbsp;&nbsp;</div>
			<div class="head-logo">
				<img style="width: 114px" src="@routes.Assets.at("images/head-logo.png")">
			</div>
			<div class="head-str">
				<p class="head-title">有温度的儿童临时看护</p>
				<p class="head-detail">找到附近互相认同的妈妈，帮你带2小时孩子</p>
			</div>
			<div class="head-login-btn-container">
				<div class="row">
					<button class=" head-login-btn">申请加入社区</button>
				</div>
			</div>
			<div class="head-btn-group">
				<button class="head-app-download-btn">
					<i><img style="height:22px; margin-top: -5px; margin-left: 0px; margin-right: 5px" src="@routes.Assets.at("images/app-icon.png")"></i>
					Apple Store
				</button>
				<span class="head-android-download-span">即将上线</span>
			</div>
		</div>
		<div class="login-page">
			<div style="margin-top:0">&nbsp;&nbsp;</div>
			<div class="row">
				<div class="col-xs-6"> 
					<table class="login-table col-xs-offset-1 col-xs-7">
						<tr>
							<td class="login-title">您的姓名</td>
						</tr>
						<tr>
							<td><input type="text" class="login-input form-control" name="name"></td>
						</tr>
						<tr>
							<td class="login-title">宝宝年龄</td>
						</tr>
						<tr>
							<td><input type="text" class="login-input form-control" name="dob"></td>
						</tr>
						<tr>
							<td class="login-title">所在城市</td>
						</tr>
						<tr>
							<td><input type="text" class="login-input form-control" name="city"></td>
						</tr>		
						<tr id="change-title">
							<td class="login-title">
								<div class="row" style="margin: 0px">
									<span>联系方式</span>
									<span class="pull-right"><a class="login-change-a" onclick="change2Email()">邮箱注册</a></span>
								</div>	
							</td>
						</tr>
						<tr id="change-content">
							<td>
								<input type="text" class="login-input form-control" placeholder="+86" name="phone">
								<div data-regtype="phone" class="hidden"></div>
							</td>
						</tr>
						<tr>
							<td class="login-merge-cell">
								<span class="login-merge-cell-text">咚哒承诺不会将您的个人信息泄露</span>
							</td>
						</tr>
						<tr>
							<td id='error-msg' class="login-marge-cell hidden">
								<p class="login-marge-error">请确认你输入了正确的手机号</p>
							</td>
						</tr>
						<tr>
							<td class="login-merge-cell" style="padding-top: 0">
								<button class="login-merge-cell-submit-btn" onclick="submit()">提 交</button>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-xs-6 login-des" style="margin-left: -5%">
					<div class="login-right-title"> 
						&nbsp;
						<span class="login-right-title-span">3, 000</span>
						<span style="width: 20px;">&nbsp;</span>
						<span class="login-right-title-line-1">个</span>
						&nbsp;
					</div>
					<div class="login-right-title" style="clear: both">年轻家庭已经申请加入 <span class="login-right-title-span" style="font-size: 28px">咚哒社区</span></div>
					<p class="login-right-subtitle">当您需要有人帮助照顾孩子的时候，咚哒将给妈妈们提供另一种安全，灵活且有温度的选择。在空余时间相互帮助，看护孩子。</p>
					<table width="100%">
						<tr>
							<th class="login-right-table-head"><img style="width:56px" src="@routes.Assets.at("images/money-icon.png")"></th>
							<th class="login-right-table-head"><img style="width:56px" src="@routes.Assets.at("images/time-icon.png")"></th>
							<th class="login-right-table-head"><img style="width:56px" src="@routes.Assets.at("images/peer-icon.png")"></th>
						</tr>
						<tr>
							<td colspan="1" width="33%">
								<p class="login-right-table-title"><b>可接受的价格</b></p>
								@{("享受更专注的看护服务" :: "成为孩子们的守护者" :: "并赚取收入" :: Nil) map { x => 
									<p class="login-right-table-text">{x}</p>
								}}
							</td>
							<td colspan="1" width="33%">
								<p class="login-right-table-title"><b>随时找到附近的妈妈</b></p>
								@{("无论是日间看护，还是" :: "晚餐时间" :: "" :: Nil) map { x => 
									if(x.isEmpty()) <p class="login-right-table-text">&nbsp;&nbsp;</p>
									else <p class="login-right-table-text">{x}</p>
								}}
							</td>
							<td colspan="1" width="33%">
								<p class="login-right-table-title"><b>找玩伴</b></p>
								@{("接触不一样的文化背景" :: "和儿童社交兴趣培养" :: "" :: Nil) map { x => 
									if(x.isEmpty()) <p class="login-right-table-text">&nbsp;&nbsp;</p>
									else <p class="login-right-table-text">{x}</p>
								}}
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="head-botton-container">
		<div class="head-bottom-menu">
			<table class="head-bottom-table">
				<tr>
					<th colspan="4" class="head-bottom-head-cell">您的安心是无价的</th>
				</tr>
				<tr>
					<td colspan="1" class="head-bottom-icon-cell"><img style="width:56px" src="@routes.Assets.at("images/id-icon.png")"></td>
					<td colspan="1" class="head-bottom-icon-cell"><img style="width:56px" src="@routes.Assets.at("images/lock-icon.png")"></span></td>
					<td colspan="1" class="head-bottom-icon-cell"><img style="width:56px" src="@routes.Assets.at("images/watch-icon.png")"></td>
					<td colspan="1" class="head-bottom-icon-cell"><img style="width:56px" src="@routes.Assets.at("images/inserance-icon.png")"></td>
				</tr>
				<tr>
					<td colspan="1" class="head-bottom-sub-cell">身份认证</td>
					<td colspan="1" class="head-bottom-sub-cell">可信赖的服务</td>
					<td colspan="1" class="head-bottom-sub-cell">直播监控</td>
					<td colspan="1" class="head-bottom-sub-cell">保险保障</td>
				</tr>
				<tr>
					<td colspan="1" class="head-bottom-cell">
					@{("通过实名和第三方社交账户信息," :: "验证身份可靠性" :: Nil) map { x => 
						if(x.isEmpty) <p class="head-bottom-cell-text">&nbsp;</p>
						else <p class="head-bottom-cell-text">{x}</p>
					}}
					</td>
					<td colspan="1" class="head-bottom-cell">
					@{("维护咚哒社区的信任和安全," :: "是我们最重要的任务" :: Nil) map { x => 
						if(x.isEmpty) <p class="head-bottom-cell-text">&nbsp;</p>
						else <p class="head-bottom-cell-text">{x}</p>
					}}
					</td>
					<td colspan="1" class="head-bottom-cell">
					@{("随时关注孩子每一刻的活动" :: "" :: Nil) map { x => 
						if(x.isEmpty) <p class="head-bottom-cell-text">&nbsp;</p>
						else <p class="head-bottom-cell-text">{x}</p>
					}}
					</td>
					<td colspan="1" class="head-bottom-cell">
					@{("安全是行动," :: "用规范的机制承担责任" :: Nil) map { x => 
						if(x.isEmpty) <p class="head-bottom-cell-text">&nbsp;</p>
						else <p class="head-bottom-cell-text">{x}</p>
					}}
					</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
	<div class="comunity-page">
		<div style="margin-top:0">&nbsp;&nbsp;</div>
		<table class="comunity-table">
			<tr>
				<th colspan="4" class="comunity-title">我们的社区</th>
			</tr>
			<tr>
				<td colspan="1" width="25%">
					<div class="comunity-img img-2 comunity-relative-container">
						<div class="comunity-text">看护</div>
					</div>
				</td>
				<td colspan="1" width="25%">
					<div class="comunity-img img-3 comunity-relative-container">
						<div class="comunity-text">玩乐</div>
					</div>
				</td>
				<td colspan="1" width="25%">
					<div class="comunity-img img-1 comunity-relative-container">
						<div class="comunity-text">出行</div>
					</div>
				</td>
				<td colspan="1" width="25%">
					<div class="comunity-img img-3 comunity-relative-container">
						<div class="comunity-text">紧急</div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="4" style="padding-top: 50px">
					@{("与每个孩子的相遇都是无价的礼物，" :: "此时此刻，" :: "在咚哒创造和分享您和孩子们的故事。" :: Nil) map { x => 
						if(x.isEmpty()) <p class="comunity-des-text">&nbsp;&nbsp;</p>
						else <p class="comunity-des-text">{x}</p>
					}}
				</td>
			</tr>
		</table>
	</div>
	<div class="foot-container">
	<div class="foot-page" id="haha">
		<div style="margin-top:0">&nbsp;&nbsp;</div>
			<table class="foot-table">
				<tr>
					<th>&nbsp;&nbsp;</th>
					<th>&nbsp;&nbsp;</th>
				</tr>
				<tr>
					<td colspan="1" width="50%">

						<div class="btn-group" style="width:60%">
						  	<a class="btn dropdown-toggle foot-dropdown" data-toggle="dropdown" href="#">
						    	中文
						    	<span class="caret pull-right" style="margin-top: 28px !important; margin-right: -2px !important;"></span>
						  	</a>
						  	<ul class="dropdown-menu">
						    	<li><a tabindex="0" href="#haha" onclick="changeChinese()">中 文</a></li>
				                <li><a tabindex="1" href="#haha" onclick="changeEnglish()">英 文</a></li>
						  	</ul>
						</div>
					</td>
					<td colspan="1" width="50%">
						<p class="foot-company-title"><b>公司信息</b></p>
						<p class="foot-company-text">黑镜子科技（北京）有限公司</p>
					</td>
				</tr>
				<tr>
					<td colspan="1" width="50%">
						<p class="foot-company-title foot-company-text-line-2"><b>联系我们</b></p>
						<p class="foot-company-text">contact@@blackmirror.tech</p>
					</td>
				</tr>
				<tr>
					<td colspan="1" width="50%">
						<p class="foot-company-title">&nbsp;&nbsp;</p>
					</td>
					<td colspan="1" width="50%">
						<p class="foot-company-text foot-company-text-line-follow" style="color: #fff; opacity: 1.0"><b>关注我们</b></p>
					</td>
				</tr>
				<tr>
					<td colspan="1" width="50%">
						<p class="foot-company-text foot-company-text-line-3">Copyright &copy 2016 Blackmirror Inc. 保留所有权利</p>
						<p class="foot-company-text">京公安网安备 11010500896 京ICP备 10214630</p>
					</td>
					<td colspan="1" width="50%">
						<p class="foot-company-text"><img src="@routes.Assets.at("images/wechat-icon.png")"></p>
					</td>
				</tr>
			</table>
			<div class="row col-xs-offset-0 col-xs-10">
				
			</div>
		</div>
	</div>
} {
	<script type="text/javascript">
		function change2Email() {
			var html = '<td class="login-title">';
			html +=	'<div class="row" style="margin: 0px">';
			html += '<span>联系方式</span>';
			html += '<span class="pull-right"><a class="login-change-a" onclick="change2Phone()">手机注册</a></span>'
			html += '</div></td>'
			$('#change-title').html(html);

			html = '<td><input type="text" class="login-input form-control" name="email">';
			html += '<div data-regtype="email" class="hidden"></div></td>';
			$('#change-content').html(html);
		}

		function change2Phone() {
			var html = '<td class="login-title">';
			html +=	'<div class="row" style="margin: 0px">';
			html += '<span>联系方式</span>';
			html += '<span class="pull-right"><a class="login-change-a" onclick="change2Email()">邮件注册</a></span>'
			html += '</div></td>'
			$('#change-title').html(html);

			html = '<td><input type="text" class="login-input form-control" placeholder="+86" name="phone">'
			html += '<div data-regtype="phone" class="hidden"></div></td>';
			$('#change-content').html(html);
		}

		function inputValidation(str) {
			if ($.trim(str) == '') {
				var html = '<p class="login-marge-error">以上所有都必须填写</p>'
				$('#error-msg').html(html);
				return false;
			} else {
				return true;
			}
		}

		function phoneValidation(phone) {
			var reg=/^(+d{2,3}-)?d{11}$/; 
			var result = reg.test(phone);
			if (!result) {
				var html = '<p class="login-marge-error">请确认你输入了正确的手机号码</p>'
				$('#error-msg').html(html);
			}
			return result;
		}

		function emailValidation(email) {
			var reg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
			var result = reg.test(email);
			if (!result) {
				var html = '<p class="login-marge-error">请确认你输入了正确的邮箱地址</p>'
				$('#error-msg').html(html);
			}
			return result;
		}

		function submit() {
			var name = $('input[name="name"]').val();
			var dob = $('input[name="dob"]').val();
			var city = $('input[name="city"]').val();

			var validate = inputValidation(name) && inputValidation(dob) && inputValidation(city);
			if (!validate) return;

			var query_object = new Object();
            query_object['name'] = name;
            query_object['dob'] = dob;
            query_object['city'] = city;

            var p = $('div[data-regtype="phone"');
			var e = $('div[data-regtype="email"');

			if (p.length > 0) {
				query_object['name'] = name;
	            query_object['dob'] = dob;
	            query_object['city'] = city;
			}

            $.ajax({
                url: "/auth/register",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json, charset=utf-8',
                data: JSON.stringify(query_object),
                cache: false,
                success: function (data) {
                    if (data.status == "ok") {
                    } else {
                        alert(data.error.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert("发布失败，请检查您的输入");
                }
            });



			var phone = $('input[name="phone"]').val();
			var email = $('input[name="email"]').val();
		}
	</script>
}
