@(content : Html)(implicit assetsFinder: AssetsFinder)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>咚哒</title>
        <link rel="stylesheet" href="@assetsFinder.path("bootstrap/css/bootstrap.min.css")" >
        <link rel="stylesheet" media="screen" href="@assetsFinder.path("stylesheets/style.css")">
        <link rel="shortcut icon" type="image/png" href="@assetsFinder.path("images/webtabicon.png")">
        <script type="text/javascript" src="@assetsFinder.path("javascripts/jquery-3.3.1.min.js")" ></script>
    </head>
    <body>
        @head_content(assetsFinder)
        @content
        <script>
            $(function () {
                window.console.log("function start!")
                $(window).scroll(function() {
                    var cur = $(this).scrollTop()
                    var aTop = 300;
                    if (cur < aTop) {
                        var ft = cur * 1.0 / aTop;
                        $('nav').css("background-color", 'rgba(52, 56, 74, ' + ft + ')');
                    } else {
                        $('nav').css("background-color", 'rgba(52, 56, 74, 1.0)');
                    }
                });
            })
        </script>
    </body>
</html>