@(implicit assetsFinder: AssetsFinder)

@main {
<div class="p_content">
    <h1>隐私政策</h1>
    <p class="p_title">
        能否看风景佛啊恐怕
    </p>
    <p class="p_con">
        恶法萨嘎根据国家哦啊菩萨恶几个哦让阿门v老辜负大家哦让下面佛菩萨看到爬的
    </p>
</div>a

<div class="footer p_footer">
    <h2>联系我们</h2>
    <p>黑镜子科技（北京）有限公司</p>
    <p>contact@@blackmirror.tech</p>
    <p>北京市朝阳区东直门外斜街 东外56号文创园 一层111室</p>
    <div class="qr qr_code">
        <div class="img">
            <img src="" alt="">
        </div>
        <p style="color: #34384A;text-align: center;">微信客服</p>
    </div>
    <div class="foo"><a href="/privacy">隐私条款</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Copyright © 2018 黑镜子科技（北京）有限公司 All rights reserved.
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;京ICP备  &nbsp;&nbsp;&nbsp;京公安网安备 </div>
</div>
}

